body {
    font: 300 15px/15px Roboto, sans-serif;
    background-color: black;
}

#big {
    margin: 0 auto;
    width: 100%;
    padding: 0px;
    line-height: 1em;
}

#ising {
    width: 100%;
    height: 100%;
    /*position: 'absolute';*/
    /*left: 50%;*/
    top: 30px;
}

.withspace {
    padding: 10px;
}

.code {
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
}

pre.code {
    margin: 0px;
}

#canvas {
    left: 10%;
}

#panelcontainer {
    position: absolute;
    top: 100px;
    width: 25%;
    left: 0%;
    clear: both;
}

#panel {
    padding: 0px;
    width: 100%;
    right: 25%;
    height: 200px;
    /*background-color: red;*/
}

#slider {
    width: 80px;
    background-color: white;
}

#helptext {
    padding-left: 25px;
    padding-bottom: 10px;
}

.help_label {
    position: relative;
    padding-right: 50px;
    width: 7em;
    float: left;
    text-align: right;
    color: white;
}

.eb_label {
    position: relative;
    /*padding-right: 150px;*/
    width: 10em;
    float: left;
    text-align: right;
    color: white;
}

.eb_span {
    position: relative;
    top: -8px;
    font-family: "Courier New", Courier, monospace;
    font-size: 15px;
    color: white;
}

h5 {
  font: 150 13px/15px Roboto, sans-serif;
  color: white;
  text-align: left;

}

#speel {
  position: absolute;
  left : 25px;
}

/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 150px;
      -webkit-appearance: none;
      background-color: #000;
    }

    input[type='range']::-webkit-slider-runnable-track {
      height: 18px;
      -webkit-appearance: none;
      color: #000;
      margin-top: -1px;
    }

    input[type='range']::-webkit-slider-thumb {
      width: 20px;
      -webkit-appearance: none;
      height: 18px;
      cursor: ew-resize;
      background: #ff0000;
      box-shadow: -80px 0 0 80px #fff;
    }

}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: #eee;
}
input[type="range"]::-moz-range-track {
  background-color: #eee;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: #fff;
}
input[type="range"]::-ms-fill-upper {
  background-color: #000;
}
